body {
    font-family: Arial, sans-serif;
    background: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
   
}

h1 {
    text-align: center;
    color:#00395d;
}



#hostnameForm {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    font-weight: bold;
}

textarea {
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #c487fd;
    border-radius: 3px;
}

input[type="submit"] {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: #00395d;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #00395dcb;
}

#loading-screen {
    text-align: center;
    display: none;
    margin-top: 20px;
}

#loading-screen p {
    font-weight: bold;
}

#loading-screen img {
    width: 30px;
    height: 30px;
    margin-top: 10px;
}